<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        title Document
    body
        div.logoImg  

        h1#tite maroon5의 Memoris는 2017년 40살의 나이로 갑작스럽게 죽음을 맞이한Adam Levine(매인보컬)친구이자,매니저인"Jordan Feldstein을 추모하자만든곡" 입니다. Adam Levine은 그 친구이자 매니저인 Jordan Feldstein을 기리고자 파헬벨 캐논 변주곡을 멜로디를 따와서 만든 노래입니다.

        div.logobutton

        input.hearBtn(type="button" value="들으러 가기")  
    