

    
body {
  background-color: grey;
}

.logoImg {
    width: 630px;
    height: 350px;     
    background-image: url(memories.png);
    background-size: cover;
    margin-top: 200px;
    
}

.hearBtn {
  color : #fff;
  background-color: #000000;
  }